.Landing {
    background: #ffffff;
    height: 100%;
    width: 100%;
}

.Landing-header {
    display: flex;
    flex-direction: column;
    height: 30%;
    width: 100%;
    background: rgba(188, 234, 204, 0.36);
}

.Landing-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

.Landing-comp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.Landing-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    align-items: center;
}

.Landing-h1 {
    display: flex;
    flex-direction: row;
    font-size: 96px;
    text-align: center;
    margin: 0px;
    color: #000000;
}

.Landing-h1-desc {
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    padding-bottom: 15px;
    color: #000000;
}

.Landing-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 24px;

    background: #4849b8;
    border: 1px solid #e8a0ee;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
    border-radius: 36px;

    /* text */
    font-family: 'Apercu';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #ffffff;
}

.Landing-body {
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    position: absolute;
    height: 70%;
    padding-left: 32px;
    background: #ffffff;
    margin-left: 50px;
    margin-right: 50px;
}

.About-h2 {
    font-size: 30px;
    line-height: 38px;
}

.Landing-about {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.About-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.About-title {
    /* Headline XS/Desktop/Semibold */
    font-size: 25px;
    /* identical to box height, or 136% */
    letter-spacing: -0.01em;
    color: #272d37;
}

.About-desc {
    /* Text L/Regular */
    font-size: 20px;
    line-height: 24px;
    /* or 150% */
    letter-spacing: -0.1px;
    color: #5f6d7e;
    margin-left: 60px;
}

.About-descr {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.About-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.About-Image {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
}

.About-Icon {
    margin-right: 10px;
    margin-top: 15px;
}


/* Smaller screens adapt */
/* 1200 */
@media screen and (max-width: 1200px) {
    .Landing-title {
        gap: 20px;
    }
    .Landing-wrap{
        padding-left: 30px;
    }
    .Landing-body{
        margin-left: 40px;
        margin-right: 40px;
    }
    .Landing-h1{
        font-size: 80px;
    }
    .Landing-h1-desc{
        font-size: 18px;
    }
    .Landing-logo{
        max-width: 450px;
    }
    .Landing-image{
        max-width: 410px;
    }
    .About-title{
        font-size: 23px;
    }
    .About-desc{
        margin-left: 50px;
    }
}

@media screen and (max-width: 1000px) {
    .Landing-title {
        margin: 20px 0px;
    }
    .Landing-h1{
        font-size: 70px;
    }
    .Landing-h1-desc{
        font-size: 16px;
    }
    .Landing-logo{
        max-height: 350px;
        max-width: 350px;
    }
    .Landing-image{
        max-width: 380px;
    }
    .About-h2{
        font-size: 26px;
    }
    .About-title{
        font-size: 21px;
    }
    .About-Icon{
        max-height: 45px;
        max-width: 45px;
    }
    .About-desc{
        margin-left: 40px;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 19px;
    }
}

@media screen and (max-width: 850px) {
    .Landing-h1{
        font-size: 58px;
    }
    .Landing-h1-desc{
        font-size: 15px;
    }
    .Landing-logo{
        max-height: 350px;
        max-width: 250px;
    }
    .Landing-button{
        font-size: 18px;
    }
    .Landing-body{
        padding-left: 0px;
        position: relative;
    }
    .Landing-about{
        flex-direction: column;
    }
    .About-h2{
        font-size: 24px;
    }
    .About-title{
        font-size: 21px;
    }
    .About-Icon{
        max-height: 40px;
        max-width: 40px;
    }
    .About-desc{
        margin-left: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 19px;
    }
    .About-Image{
        margin-left: 0px;
    }
    .Landing-image{
        padding-top: 30px;
        padding-bottom: 20px;
    }


}

@media screen and (max-width: 600px) {
    .Landing-wrap{
        padding: 20px 20px;
    }
   .Landing-h1{
        font-size: 55px;
    }
    .Landing-h1-desc{
        font-size: 15px;
    }
    .Landing-logo{
        max-height: 350px;
        max-width: 250px;
    }
    .Landing-button{
        font-size: 18px;
    }
    .Landing-title{
        flex-direction: column;
    }
    .Landing-body{
        padding-left: 0px;
        position: relative;
    }
    .Landing-image{
        max-width: 280px;
    }
    .About-Image{
        margin-left: 0px;
    }
    .About-h2{
        font-size: 20px;
    }
    .About-title{
        font-size: 19px;
    }
    .About-Icon{
        max-height: 30px;
        max-width: 30px;
    }
    .About-desc{
        margin-left: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 17px;
    }
    .Landing-image{
        padding-top: 30px;
        padding-bottom: 20px;
    }


}