body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

@font-face {
    font-family: 'Apercu';
    src: local('Apercu'), url('./fonts/Apercu.ttf') format('truetype');
}

@font-face {
    font-family: 'Apercu-Bold';
    src: local('Apercu-Bold'), url('./fonts/Apercu-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Apercu-BoldItalic';
    src: local('Apercu-BoldItalic'),
        url('./fonts/Apercu-BoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Apercu-Italic';
    src: local('Apercu-Italic'),
        url('./fonts/Apercu-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Apercu-Light';
    src: local('Apercu-Light'),
        url('./fonts/Apercu-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Apercu-LightItalic';
    src: local('Apercu-LightItalic'),
        url('./fonts/Apercu-LightItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Apercu-Medium';
    src: local('Apercu-Medium'),
        url('./fonts/Apercu-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Apercu-MediumItalic';
    src: local('Apercu-MediumItalic'),
        url('./fonts/Apercu-MediumItalic.ttf') format('truetype');
}
